:root {
    --base-font-size: 15px;
    /* --theme-hue: 207; */
    /* --theme-saturation: 44%; */
    /* --theme-lightness: 49%; */
    --cover-background-color: hsl(var(--theme-hue), var(--theme-saturation), 60%);
    --theme-color: #f00056;
    --base-color: #351a21;
    --heading-color: #9d2933;
    --code-inline-color: #ee447f;
    --code-theme-text: #e6175f;
    --code-inline-background: #f7f7f7;
    /* --content-max-width: 60em; */
    /* Animations and transitions */
    --duration-slow: 1s;
    --duration-medium: 0.5s;
    --duration-fast: 0.25s;
    /* Font size */
    /* --font-size-xxxl: var(--modular-scale-5);
    --font-size-xxl: var(--modular-scale-4);
    --font-size-xl: var(--modular-scale-3);
    --font-size-l: var(--modular-scale-2);
    --font-size-m: var(--modular-scale-1);
    --font-size-s: var(--modular-scale--1);
    --font-size-xs: var(--modular-scale--2); */
}

section.cover .cover-main {
    z-index: 100;
}

section.cover.has-mask .mask {
    background-color: #fff;
    opacity: .1!important;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

section.cover h1 .anchor span {
    font-family: 'Lobster', cursive;
    color: var(--theme-color);
}

section.cover h2 .anchor span {
    font-family: 'Lobster', cursive;
    /* font-size: 24px; */
    color: var(--theme-color);
}


/* section.cover .cover-main>p:last-child a .iconfont {
    font-size: 1em;
} */

.sidebar>h1 a {
    font-family: 'Lobster', cursive;
}